<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>

      <div class="header-icons">
        <a aria-label="Contáctame!" href="mailto:alvaroleongarrido@gmail.com" target="_newtab"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Sígueme en Linkedin" target="_blank" href="https://www.linkedin.com/in/aleongarrido/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="Sígueme en Twitter" target="_blank" href="tel:+34-695-797-616"><i class="icon fa fa-whatsapp" aria-hidden="true"></i></a>
        <a aria-label="Mi portal en Github" target="_blank" href="https://github.com/alvaroleongarrido"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>

      <div class="header-links">
        <a class="link" href="#about" data-scroll>Quién soy</a>
        <a class="link" href="#projects" data-scroll>Entradas y proyectos</a>
      </div>
      
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
