<div class="user-details">
  <h1> Entradas y proyectos de data science </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="exploratory data analysis" src="{{ "/assets/img/entradas/eda1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>¿Qué es un EDA? Elementos básicos</h3>
    <p>Breve entrada sobre la importancia de la creatividad y el pensamiento crítico que requiere el análisis de datos. Además, algunas nociones conceptuales y herramientas básicas del Exploratory Data Analysis (EDA) en R.</p>
    <a class="project-link" href="https://medium.com/@alvaroleongarrido/eda-an%C3%A1lisis-exploratorio-de-datos-a008b5d7cad8" target="_newtab">Mira la entrada</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="pre trained vgg16" src="{{ "/assets/img/entradas/VGG16.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
      <h3>Basic image classification</h3>
    <p>Utilizando una red neuronal convolusional (CNN) pre entrenada (VGG16), construimos y explicamos un modelo de clasificación de imagenes sencillo que permite dar alguna idea de las potencialidades de TensorFlow y Keras para este tipo de tareas.</p>
    <a class="project-link" href="https://github.com/alvaroleongarrido/projects/blob/master/CNN_VGG16_Exercise.ipynb">Ir al Notebook</a>
  </div>

</div>
