<div class="user-details">
  <h1> Entradas y proyectos de data science </h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="pre trained vgg16" src="{{ "/assets/img/entradas/VGG16.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
      <h3>Deep learning aplicado clasificación de imágenes (Python/TensorFlow/Keras)</h3>
    <p>Utilizando una red neuronal convolusional (CNN) pre entrenada (VGG16), construimos y explicamos un modelo de clasificación de imagenes sencillo que permite dar alguna idea de las potencialidades de TensorFlow y Keras para este tipo de tareas.</p>
    <a class="project-link" href="https://github.com/alvaroleongarrido/projects/blob/master/CNN_VGG16_Exercise.ipynb" target="_newtab">Ir al Notebook</a>
  </div> 
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="exploratory data analysis" src="{{ "/assets/img/entradas/eda1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>¿Qué es un EDA? Elementos básicos (R)</h3>
    <p>Breve entrada sobre la importancia de la creatividad y el pensamiento crítico que requiere el análisis de datos. Además, algunas nociones conceptuales y herramientas básicas del Exploratory Data Analysis (EDA) en R.</p>
    <a class="project-link" href="https://medium.com/@alvaroleongarrido/eda-an%C3%A1lisis-exploratorio-de-datos-a008b5d7cad8" target="_newtab">Mira la entrada</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Curva ROC" src="{{ "/assets/img/entradas/churn_clientes.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
      <h3>Modelos de clasificación para predecir fuga de clientes (Python)</h3>
    <p>En base a datos artificiales se han construido y optimizado modelos para clasificar clientes de una compañía de telecomunicaciones, de acuerdo a su historial en la empresa, para predecir si suspenderán su contrato el mes siguiente (con miras a dirigir campañas de retención).</p>
    <a class="project-link" href="https://github.com/alvaroleongarrido/projects/blob/master/ChurnClientes_Logit_RForest.ipynb" target="_newtab">Ir al Notebook</a>
  </div> 
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="pump it up submission" src="{{ "/assets/img/entradas/pumpitup.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Algoritmo de Random Forest para clasificación (R/Ranger)</h3>
    <p>¡82.59 de accuracy en la competición Pump It Up! Utilización de Random Forest (Ensemble learning) en R para predecir el estado de bombas de agua en Tanzania. Ejercicio muy intretenido que muestra potencialidades del feature engineering, la exploración de los datos, y los modelos ensamblados.</p>
    <a class="project-link" href="https://github.com/alvaroleongarrido/projects/blob/master/RandomForest_R_PumpItUp" target="_newtab">Mira el código</a>
  </div>
</div>
