<div class="user-details">
  <h1> Entradas y proyectos de data science </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="exploratory data analysis" src="{{ "/assets/img/entradas/eda1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>¿Qué es un EDA? Elementos básicos</h3>
    <p>Breve entrada sobre la importancia de la creatividad y el pensamiento crítico que requiere el análisis de datos. Además, algunas nociones conceptuales y herramientas básicas del Exploratory Data Analysis (EDA) en R</p>
    <a class="project-link" href="https://medium.com/@alvaroleongarrido/eda-an%C3%A1lisis-exploratorio-de-datos-a008b5d7cad8" target="_newtab">Mira la entrada</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="exploratory data analysis" src="{{ "/assets/img/entradas/undp_cl_idh_seminario.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>

</div>
